--- 
title: "Luna a l'interxarxa"
---
<!DOCTYPE html>

<html lang="ca">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Luna Moreno">
    <meta name="description" content="Luna a l'interxarxa">
    <meta name="keywords" content="3d, musica, portfolio, girona">

    {% include head.html %}

</head>


<script>
    function addGetNokDown(pId) {
        console.log(pId)
        if (document.getElementById(pId).getAttribute("open") != "true") {
            document.getElementById(pId).innerHTML +=
                `<details id=${pId + 1} onClick="addGetNokDown(${pId + 1})">
                    <summary>I get knocked down...</summary>
                
                    <p>But I get up again</p>
                    <p>You're never going to keep me down</p>
                    
                </details>
            `;
            document.getElementById(pId).setAttribute("open", "true");
        }
    }
</script>

<body id="body">
    {% include header.html %}
    <main>
        <div style="text-align: left;padding: 0px 25px; text-wrap: balance;" class="full center-vertical">
            {% capture my_include %}{% include introduccio.md %}{% endcapture %}
            {{ my_include | markdownify }}
        </div>
        <sidebar id="sidebar">
            <sidebar-sector>
                <h2>Ultims Projectes</h2>
                {% for post in site.projects limit:2 %}
                    <sidebar-element>
                        <h3>
                            <a href="{{ post.url }}">
                                {{ post.title }}
                            </a>
                        </h3>
                    </sidebar-element>
                {% endfor %}
                <sidebar-element>
                    <h3>
                        <a href="/portfolio/">
                            Més...
                        </a>
                    </h3>
                </sidebar-element>
            </sidebar-sector>
            <sidebar-sector>
                <h2>Blog</h2>
                {% for post in site.posts limit:1 %}
                    <sidebar-element>
                        <h3>
                            <a href="{{ post.url }}">
                                {{ post.title }}
                            </a>
                        </h3>
                        <p>{{ post.excerpt }}</p>
                    </sidebar-element>
                {% endfor %}
                <sidebar-element>
                    <h3>
                        <a href="/blog/">
                            Més...
                        </a>
                    </h3>
                </sidebar-element>
            </sidebar-sector>
        </sidebar>
    </main>
    <main class="full center-horizontal openmoji">
        <a class="fancy-button" href="./blog">📑Blog📑</a>
        <a class="fancy-button" href="./portfolio/">🗄Portfolio🗄</a>
        <a class="fancy-button" href="./jo/">👧Jo👧</a>
        <a class="fancy-button" href="./contacte/">☎Contacte☎</a>
    </main>
    <main>
        <details id=1 onClick="addGetNokDown(this.id)">
            <summary>I get knocked down...</summary>

            <p>But I get up again</p>
            <p>You're never going to keep me down</p>
        </details>
    </main>
    <footer>
        <a href="." target="_blank"></a>
        <img src="./badges/catalunya.gif" alt="use mozilla">
        </a>
        <a href="https://directa.cat/app/uploads/2019/10/la-s%C3%ADndrome-de-sherwood-1.pdf" target="_blank">
            <img src="./badges/acab.gif" alt="acab">
        </a>
        <a href="." target="_blank">
            <img src="./badges/amd.gif" alt="amd">
        </a>
        <a href="https://yesterweb.org/no-to-web3/" target="_blank">
            <img src="./badges/web3.gif" alt="last fm">
        </a>
        <a href="." target="_blank">
            <img src="./badges/powered.gif" alt="last fm">
        </a>
        <a href="." target="_blank">
            <img src="./badges/ps2.gif" alt="last fm">
        </a>
        <a href="." target="_blank">
            <img src="./badges/catala.png" width=88 alt="last fm">
        </a>
        <a href="." target="_blank">
            <img src="./badges/korg.gif" alt="last fm">
        </a>
        <a href="." target="_blank">
            <img src="./badges/chrome.gif" alt="use mozilla">
        </a>
    </footer>

</body>

</html>