:root {
  --roundnes: 16px;

}

canvas {
  position: absolute;
  left: 0;
  top: 0;
}

body {
  font-family: "Barlow Condensed", sans-serif !important;
  background: url("/bks/bk1.jpg");
  text-align: center;
  background-position: center;
  background-size: 120px;
  cursor: url("/cursor.png"), crosshair;

}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.5%;
  color: #A38548;
  background-color: #133E4C;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 3%;
  padding-right: 3%;
  position: relative;
  border-radius: var(--roundnes);
}

.thumbnail{
  height: 12vw;
  border-radius: var(--roundnes);
  position: relative;
  z-index: 100;
  
}


.thumbnai-image{
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: var(--roundnes);
  z-index: 0;
  margin: 0;
  top: 0;
  left: 0;
}

.thumbnail div{
  transition: box-shadow 1s;
  transition: background-color 0.5s;
  box-shadow: inset 3px 3px 5px 0 #000000;
  background-color: rgba(0, 0, 0, 0.0);
  opacity: 90%;
  position:absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
  bottom: 0px;
  z-index: 8;
  border-radius: var(--roundnes);
}

.thumbnail p{
  transition: opacity 1s;
  opacity: 10%;
  position:absolute;
  margin: 0px;
  line-height: 3vw;
  height: 3vw;
  bottom: 0px;
  width: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 2vw;
  font-weight: bolder;
  color: whitesmoke;
  border-radius: 0 0 var(--roundnes) var(--roundnes);
  height: 3vw;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

.thumbnail:hover > p {
  transition: opacity 0.3s;
  opacity: 100%;
}

.thumbnail:hover > div {
  box-shadow: inset 13px 13px 40px 0 #000000;
  background-color: rgba(0, 0, 0, 0.4);
}


.container {
  padding: 10px;
  border-radius: var(--roundnes);
  color: #e60073;
  background-color: black;
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
  height: auto;
  width: 80%;
  margin: auto;
}

.badges {
  padding: 10px 30px 10px 30px;
  background-color: #FEC9A2;
  border-radius: 0 0 var(--roundnes) var(--roundnes);
}

.badges a {
  text-decoration: none;
}

.bigger-text {
  font-size: 1.5rem;
  text-align: center;
}

.glow {
  font-size: 25px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  text-decoration: none;
}


.blog_preview {
  color: #CEDDE0;
  background-color: #133E4C;
  padding: 25px;
  text-align: justify;
  border-radius: var(--roundnes);
}

.blog_modal {
  width: 200px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%;
  color: #A38548;
  background-color: #133E4C;
  padding-top: 25px;
  padding-bottom: 25px;
}

.one {
  grid-column: 1;
  grid-row: 1;
  margin-left: 25%;
  margin-right: 25%;
  color: #fff;
}

.one img {
  width: 100%;
  max-width: 200px;
  border-radius: var(--roundnes);
}

.two {
  grid-column: 2;
  grid-row: 1;
  margin-right: 25%;
  margin-left: 0;
  margin-bottom: 40%;
  
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 0;
  margin: 0;
  height: 100%;
}

details {
  margin: 15px;
}

a:visited {
  color: inherit;
}

a.button, button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ffffffa3;
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: var(--roundnes);
  text-decoration: none;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 3px #fff, 0 0 5px #fff;
}