<header>
        <h1 data-i18n="welcome_message">
            {{ site.title }}
        </h1>
        <div class="marquee openmoji">
            <ul class="marquee__content">
                <li><a class="fancy-button" href="https://twitter.com/chica_botella" target="_blank">Twitter</a></li>
                <li><a class="fancy-button" href="https://www.linkedin.com/in/lunamore/" target="_blank">Linkedin</a></li>
                <li><a class="fancy-button" href="https://github.com/akaluna99" target="_blank">Github</a></li>
                <li><a class="fancy-button" href="https://www.youtube.com/@l--luna" target="_blank">YouTube</a></li>
            </ul>
            <!-- Mirrors the content above -->
            <ul class="marquee__content" aria-hidden="true">
                <li><a class="fancy-button" href="https://twitter.com/chica_botella" target="_blank">Twitter</a></li>
                <li><a class="fancy-button" href="https://www.linkedin.com/in/lunamore/" target="_blank">Linkedin</a></li>
                <li><a class="fancy-button" href="https://github.com/akaluna99" target="_blank">Github</a></li>
                <li><a class="fancy-button" href="https://www.youtube.com/@l--luna" target="_blank">YouTube</a></li>
            </ul>
        </div>
    </header>
    <script>
        // Fondos de https://goblin-heart.net/sadgrl/webmastery/downloads/tiledbgs
        var backgrounds = [
            'bk1.jpg', 
            'heartstring.gif', 
            'lilac.gif', 
            '32623.png',
            'redsatin1.gif',
            'tumblr_inline_mlkxsmQayT1r53miq540.gif',
            'yellowstars.gif',
            'pplstar.gif',
            'moonplanets.png',
            'pinkstars.gif'
        ]
        document.body.style.backgroundImage = 'url(/bks/' + backgrounds[Math.floor(Math.random()*backgrounds.length)] + ')';
    </script>