---
---
<!DOCTYPE html>
<html lang="ca">

<head>
    {% include head.html %}
</head>

<body>
        {% include header.html %}

        <main class="full">
            <div>
                <h2>Deixa aqui el teu missatge</h2>
                <p>Intento respondre el més rapid posible</p>
            </div>
            <form action="https://formspree.io/f/xbjnjvzz" method="POST">
                <fieldset>
                    <label>
                        E-mail:
                        <input type="email" name="email">
                    </label>
                    <br>
                    <label>
                        Text:
                        <textarea name="message"></textarea>
                    </label>
                    <!-- your other form fields go here -->
                    <br>
                    <button type="submit">Envia</button>
                </fieldset>
            </form>
        </main>
        {% include footer.html %}
</body>

</html>