---
---
<!DOCTYPE html>
<html lang="ca">

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <main class="full max-height">
        <blog>
            {% for post in site.posts %}
            <entrada>
                <h2>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h2>
                <p>{{ post.excerpt }}</p>
                <em>{{post.date | date_to_string}} - {{post.author}}</em>
            </entrada>
            {% endfor %}
        </blog>
    </main>
    {% include footer.html %}
</body>

</html>