---
title: "Coses que he fet"
---
<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body ContentEditable='FALSE'>

    {% include header.html %}

    <main class="full portfolio-wraper max-height">
        {% for project in site.projects %}
            <a href="{{ project.url }}" class="thumbnail" id="videojoc">
                <img class="thumbnai-image" src="{{ project.image }}" />
                <div class="thumbnail-shadow"></div>
                <p>{{ project.title }}</p>
            </a>
        {% endfor %}
    </main>
    
    {% include footer.html %}

</body>

</html>