---
layout: default
---
<main class="full">
    <entrada class="full">
        {{content}}
    </entrada>
    <sidebar style="max-width: 300px;">
        <sidebar-sector class="full" style="width: -webkit-fill-available;">
            <h1>{{page.title}}</h1>
            <img style="width: -webkit-fill-available;" src="{{page.image}}">
            <em style="text-transform: capitalize;"><a href="/portfolio?category={{page.category}}">{{page.category}}</a></em>
            <p><a href="{{page.link}}">{{page.link}}</a></p>
            <p>{{page.date | date_to_string}}</p>
        </sidebar-sector>
    </sidebar>
</main>

<!-- Pagination links -->
<main class="full">
    {% if page.previous.url %}
        <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
        <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
</main>